<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Node App</title>
</head>
<body>
    {{> header }}
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, perspiciatis vero, laudantium obcaecati aut suscipit neque veritatis, provident ab minima ducimus vel quae odio iure vitae eius quaerat adipisci sapiente.
    </p>
    {{> footer}}
</body>
</html>
