<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    {{> header}}
    <p>{{ screamIt 'Node App'}}</p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, quaerat assumenda unde qui alias totam quam ipsam rerum maxime magni odio voluptas ipsum placeat dolorum perspiciatis minus consequatur animi iusto.Nobis natus itaque dolorum magnam recusandae nulla dolorem cum nesciunt nostrum necessitatibus! Vitae eos totam nisi officia delectus hic ab explicabo sapiente tempore officiis soluta animi expedita, aliquid eligendi dolorem.
    </p>
  {{> footer}} 
</body>
</html>
  